<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>Sistema de elecciones</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4 custom-section b-r">
            <app-candidatos></app-candidatos>
        </div>
        <div class="col-4 custom-section b-r">
            <app-votantes></app-votantes>
        </div>
        <div class="col-4 custom-section">
            <app-eleccion></app-eleccion>
        </div>
    </div>
</div>
